body {
  margin: 10;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#ajaxform .container #ajaxform-row #ajaxform-column #ajaxform-box {
  margin-top: 120px;
  max-width: 600px;
  height: 250px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#ajaxform
  .container
  #ajaxform-row
  #ajaxform-column
  #ajaxform-box
  #ajaxform-form {
  padding: 20px;
}
#ajaxform
  .container
  #ajaxform-row
  #ajaxform-column
  #ajaxform-box
  #ajaxform-form
  #register-link {
  margin-top: -85px;
}
